<%# This partial will be rendered on the listings/new page. %>
<%= form.fields_for :images do |image_form| %>
	<p>    
		<%= image_form.label(:description, "Image Description:") %><br />
		<%= image_form.text_field :description %><br />
		
		<%= image_form.file_field :photo %>
	</p>

	<% unless image_form.object.nil? || image_form.object.new_record? %>
		<div class="field">
			<%= image_form.label :_destroy, 'Remove:' %>
			<%= image_form.check_box :_destroy %>
		</div>
	<% end %>
<% end %>